body {
  background-color: black;
  color: white;
}
#container {
  margin-left: 30px;
  width: 500px;
  margin-top: 70px;
}
.filter-button {
  padding: 10px 45px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 10px;
}
.profession-select {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #000;
  color: white;
}
#card-design {
  width: 500px;
  height: 50px;
  display: flex;
  list-style-type: none;
  border: 1px solid white;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}
.adjust {
  padding-right: 30px;
}
.todo{
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}
input{
  background: transparent;
  color: white;
  margin-top: 10px;
  border: #fff solid 0.5px;
  
}
.AddUser {
  padding: 10px 45px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  margin: 0 30px;
  margin-top: 10px;
 
}